.filterForm {
  display:inline-flex;
  gap: 18px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filterForm select,
.filterForm input {
  padding: 5px;
  font-size: 14px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.fieldContainer label {
  margin-bottom: 8px;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.2;
 color: var(--lighting-grey);
 text-align: start;
}

.fieldContainer select{
  border-radius: 14px;
  border: none;
  padding: 14px  18px;
  width: 224px;
  height: 48px;
  background:var(--white-smoke);   
  background-size: 20px 20px;
}
.fieldContainer select:focus {
  outline: none; 
}

.fieldContainer option{
  border: 1px solid rgba(18, 20, 23, 0.05);
  border-radius: 14px;
  width: 224px;
  height: 272px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(18, 20, 23, 0.2);

}
.mileage {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
}

.mileageInputs {
  display: flex; 
}

.mileageInputs select {
  width: 160px;
  border: none;
  border-radius: 14px 0 0 14px;
}

.mileageInputs select:first-child {
  border-radius: 14px 0 0 14px; 
  border-right: 1px solid var(--white-smoke); 
}

.mileageInputs select:last-child {
  border-radius: 0 14px 14px 0;
  border-left: 1px solid var(--white-smoke); 
}
.button {
  border-radius: 12px;
  border: none;
  padding: 14px 44px;
  width: 136px;
  height: 48px;
  cursor: pointer;
  background:var(--light-blue);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  color: var(--white);
  transition: background-color 0.2s ease-in-out;}

.button:hover {
  background:var(--blue);
}