

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
  width: 541px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  outline: none;
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  position: relative;
}

.closeIcon {
  position: fixed;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.carImage {
  width: 461px;
  border-radius: 14px;
  height: auto;
  margin-bottom: 14px;
}

.carName {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  margin-bottom: 8px;
}

.carModel {
  color: var(--light-blue);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 24px;
}

.carInfo {
  /* display: flex; */
  flex-wrap: wrap;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--lighting-grey);
}

.carInfo span {
  margin-right: 6px;
}

.carInfo span:not(:first-child)::before {
  content: "|";
  margin-right: 10px;
  color: var(--lighting-grey);
}
.carInfo span:nth-child(7)::before {
  display: none;
}
.rentalConditions {
  margin-bottom: 24px;
}

.accessoriesContainer h3,
.rentalConditions h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 8px;
}

.accessoriesContainer {
  margin-bottom: 24px;
}

.accessories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 420px;
}

.accessories span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 10px;
  color: rgba(18, 20, 23, 0.5);
  position: relative;
}

.accessories span:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1.2em;
  background-color: rgba(18, 20, 23, 0.2);
}

.accessories span:nth-child(3)::after,
.accessories span:nth-child(6)::after {
  display: none;
}

.rentalConditions li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 7px 14px;
  background: var(--dark-white);
  border-radius: 35px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--light-black);
}

.rentalUL {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--light-black);
}

.rentalButton {
  background-color: var(--light-blue);
  border-radius: 12px;
  padding: 12px 50px;
  width: 168px;
  height: 44px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  line-height: 1.42857;
}

.rentalButton:hover {
  background-color: var(--blue);
}

.highlight {
  color: var(--light-blue);
}