.catalogContainer { 
  margin: 0 auto;
  text-align: center;
}

.catalogFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 29px;
  margin-top: 50px;
  margin-bottom: 100px;
}