.carCard{ 
 
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  width: 274px;

}
.carName { 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--black);
}

.carModel {
  color: var(--light-blue);
}

.carCard:hover {
  transform: scale(1.05);
}
.carImageWrap{
  overflow: hidden;
  border-radius: 14px;

}
.carImage { 
  width: 100%;

  object-fit: cover;
}


.carDetails h2 {
  /* font-size: 18px; */
  margin: 0 0 10px 0;
}

.carPrice {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}
.title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.carDetails ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.carDetails ul li {
  font-weight: 400;
 font-size: 12px;
 line-height: 1.5; 
  color: var(--grey);
  margin-right: 6px;
  position: relative;
}
.carDetails ul li:not(:first-child):not(:nth-child(5))::before {
  content: '|';
  margin-right: 6px;
  color: var(--grey);
}
.button {
  border-radius: 12px; 
  width: 274px;
  height: 44px;
  display: block;
  width: 100%;  
  background-color: var( --light-blue);
  color: #fff;
  border: none;
  line-height: 1.42857;
  font-size: 16px;
  text-align: center;
  cursor: pointer;  
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color:var( --blue);
}

.favoriteButton{
  background: transparent;
    position: absolute;
    right: 14px;
    top: 14px;
    border: none;
}

.wrapImage{ 
  position: relative;
  margin-bottom: 14px;
}


.favoriteButton.favorite img {
  filter: invert(38%) sepia(89%) saturate(2202%) hue-rotate(181deg) brightness(95%) contrast(89%);
}