:root {
  --lighting-grey: #8A8A89;
  --black: #121417;
  --light-black: #363535;
  --light-blue: #3470FF;
  --dark-white: #f9f9f9;
  --white-smoke:#f7f7fb;
  /* hover */

  --blue: #0B44CD;
  --grey:  rgba(18, 20, 23, 0.5);
}